<% provide(:title, 'About') %>
<h1>About</h1>
<p>
	This is an application that is designed to create a seating chart
	based on a user's input of variables such as number of tables,
	seats per table, and number of iterations of seat changes.
</p>