<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<address>
	Melissa Slaughter<br />
	Jackson, Wyoming<br />
	<a href="mailto:melissa.slaughter@journeysschool.org">
		melissa.slaughter@journeysschool.org</a><br />
</address>