<div class="center hero-unit">
	<h1>Seating Chart App</h1>
	
	<h2>
		The place to build seating charts for any and all situations
	</h2>
	
	<% if signed_in? %>
		<%= link_to "Create a Classroom", newclassroom_path, class: "btn btn-large btn-primary" %>
	<% else %>
		<%= link_to "Sign up here", signup_path, class: "btn btn-large btn-primary" %>
	<% end %>
	
	<p></p><br />
	
	<img src="/assets/notebook_01.png" width="150">
</div>