<div class="center hero-unit">
	<h1>Seating Chart App</h1>
	
	<h2>
		This is the home page for the seating chart app
	</h2>
	
	<%= link_to "Sign up here", signup_path, class: "btn btn-large btn-primary" %>
</div>

<img src="/assets/notebook_01.png" width="150">