<% provide(:title, 'Build Classroom - Students') %>
<h1>Build Classroom - Students</h1>

<div class="row">
	<div class="span5 offset1">	
		<% @classroom = Classroom.find(params[:id]) %>
		<%= form_tag (addstudents_path method: 'post', id: params[:id]) do %>
		
			<% (1..@classroom.num_students).each do |t| %>
				<div class="span3 offset3">
					<%= check_box "student #{t}", "pin" %> pin this student
				</div>
				<%= text_field "student #{t}", "name", placeholder: "Student name..." %>
				
			
			<% end %>
			
			<%= submit_tag 'Submit' %>
			
		<% end %>
	</div>
</div>