<% provide(:title, @user.name) %>
<div class="row">
	<aside class="span4">
		<section>
			<h1>
				<img src="/assets/graduation_cap_3.png" width="75">
				<%= @user.name %>
			</h1>
		</section>
	</aside>
</div>