<% if @table.errors.any? %>
  	<div id="error_explanation">
    	<div class="alert alert-error">
   			The form contains <%= pluralize(@table.errors.count, "error") %>.
   		</div>
   		<ul>
   			<% @table.errors.full_messages.each do |msg| %>
   			<li>* <%= msg %></li>
   		<% end %>
   		</ul>
  	</div>
<% end %>